[*.{cs,vb}]

# IDE0130: Namespace does not match folder structure
dotnet_style_namespace_match_folder = false

# IDE0160: Convert to block scoped namespace
csharp_style_namespace_declarations = file_scoped

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers = omit_if_default

# CA1805: Do not initialize unnecessarily
dotnet_diagnostic.CA1805.severity = silent

# IDE0023: Use block body for conversion operator
csharp_style_expression_bodied_operators = when_on_single_line

# IDE0011: Add braces
csharp_prefer_braces = when_multiline

# IDE0022: Use block body for method
csharp_style_expression_bodied_methods = when_on_single_line

# IDE0046: Convert to conditional expression
dotnet_diagnostic.IDE0046.severity = suggestion

# IDE0025: Use expression body for property
dotnet_diagnostic.IDE0025.severity = suggestion

# IDE0022: Use expression body for method
dotnet_diagnostic.IDE0022.severity = suggestion

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = warning

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# IDE0210: Convert to top-level statements
csharp_style_prefer_top_level_statements = false

# IDE0045: Convert to conditional expression
dotnet_diagnostic.IDE0045.severity = silent

# IDE0010: Add missing cases
dotnet_diagnostic.IDE0010.severity = silent

dotnet_diagnostic.CA1716.severity = silent
